<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File Page</title>
    <base href="http://localhost/">
</head>
<body>
    <h1>UPLOAD FILE</h1>
    <hr>
    <form id="formfile">
        <p>
            <label>Add file JSON: </label><br/>
            <input type="file" id="file_json" name="jsonfile[]" accept=".json" multiple="multiple"/>
        </p>
        <p>
            <label>Add file background image JPEG (FRONT) : </label><br/>
            <input type="file" id="file_jpeg_fr" name="jpegfilefr" accept=".jpg"/>
        </p>
        <p>
            <label>Add file background image JPEG (BACK) : </label><br/>
            <input type="file" id="file_jpeg_bk" name="jpegfilevr" accept=".jpg"/>
        </p>
        <button id="enviar" name="send">Enviar</button>
        <p>
            <label>Enter cart serie id for generate PDF (Ex. AAMMDD#1-AAMMDD#2-AAMMDD#3):</label><br/>
            <input type="text" name="serie" id="serie">
        </p>
        <p>
            <label>From cart number:</label><br/>
            <input type="text" name="fromcart" id="from_cart">
        </p>
        <p>
            <label>To cart number:</label><br/>
            <input type="text" name="tocart" id="to_cart">
        </p>
        <p>
            <button id="gerar1" name="create1">Gerar PDF FRENTE A5</button>
        </p>
        <p>
            <button id="gerar2" name="create2">Gerar PDF FR/VR A4</button>
        </p>
        <p>
            <button id="gerar3" name="create3">Gerar PDF FR/VR A4 - 3 Séries</button>
        </p>
    </form>
    <script src="app/assets/js/fileupload.js" type="module"></script>
</body>
</html>