<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File Page</title>
    <base href="http://localhost/">
</head>
<body>
    <h1>UPLOAD FILE</h1>
    <hr>
    <form id="formfile">
        <p>
            <label>Add file JSON: </label><br/>
            <input type="file" id="file_json" name="jsonfile[]" accept=".json" multiple="multiple"/>
        </p>
        <p>
            <label>Add file background image JPEG : </label><br/>
            <input type="file" id="file_jpeg" name="jpegfile" accept=".jpg"/>
        </p>
        <button id="enviar" name="send">Enviar</button>
        <p>
            <label>Enter cart serie id for generate PDF:</label><br/>
            <input type="text" name="serie" id="serie">
        </p>
        <p>
            <label>From cart number:</label><br/>
            <input type="text" name="fromcart" id="from_cart">
        </p>
        <p>
            <label>To cart number:</label><br/>
            <input type="text" name="tocart" id="to_cart">
        </p>
        <p>
            <button id="gerar" name="create">Gerar PDF</button>
        </p>
    </form>
    <script src="app/assets/js/fileupload.js" type="module"></script>
</body>
</html>